name: final_exam
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1


dependencies:
 lottie: ^3.1.0
 google_fonts: ^6.1.0
 font_awesome_flutter: ^10.7.0
 flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/sample.jpg
    - assets/animations/success-icon.json 